LIBRARY()

LICENSE(
    APACHE2
)

NO_COMPILER_WARNINGS()
NO_JOIN_SRC()
NO_RUNTIME()
NO_UTIL()

IF (TBB)
    ADDINCL(
        GLOBAL contrib/libs/tbb/include
    )
    CFLAGS(
        GLOBAL -D__TBB
        GLOBAL -D__TLS_OPTS
    )
    LDFLAGS(
        -Lcontrib/libs/tbb/lib/intel64
    )
    EXTRALIBS(
        -ltbb
    )
ELSE()
    ADDINCL(
        GLOBAL contrib/libs
    )
ENDIF()

END()
